<!DOCTYPE html>
html
head
    <meta charset="UTF-8">
    <title>D&D Karta Postaci</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet" />

body

    div(class='container-fluid')
        <div class="row">
            <div class="col-3">
                <h1 class="text-center">Postać</h1>
                <div class="container">
                    <form class="inputCharacter">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <div class="d-flex flex-column">
                                    <input type="text" class="form-control form-control-sm" id="inputCharacterName" value="" field_data_name="name">
                                    <label for="inputAddress">Imię postaci</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-8">
                                <div class="d-flex flex-column">
                                    <input type="text" class="form-control form-control-sm" id="inputCharacterClasses" value="" field_data_name="classes">
                                    <label for="inputAddress">Klasa</label>
                                </div>
                            </div>
                            <div class="form-group col-4">
                                <div class="d-flex flex-column">
                                    <input type="text" class="form-control form-control-sm" id="inputCharacterLevel" value="" field_data_name="level">
                                    <label for="inputAddress">Poziom</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <div class="d-flex flex-column">
                                    <input type="text" class="form-control form-control-sm" id="inputCharacterRace" value="" field_data_name="race">
                                    <label for="inputAddress">Rasa</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-8">
                                <div class="d-flex flex-column">
                                    <input type="text" class="form-control form-control-sm" id="inputCharacterCharacter" value="" field_data_name="character">
                                    <label for="inputAddress">Charakter</label>
                                </div>
                            </div>
                            <div class="form-group col-4">
                                <div class="d-flex flex-column">
                                    <input type="text" class="form-control form-control-sm" id="inputCharacterSex" value="" field_data_name="sex">
                                    <label for="inputAddress">Płeć</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <h1 class="text-center">Atrybuty</h1>
                <div class="container">
                    <div class="row table_labels">
                        <div class="col col-2">Nazwa</div>
                        <div class="col col-3">Wartość</div>
                        <div class="col col-2">Modyfikator</div>
                        <div class="col col-3">Tymczasowa wartość</div>
                        <div class="col col-2">Tymczasowy modyfikator</div>
                    </div>
                    <form class="form">

                    each val, index in abilities
                        div(class='form-row input_abilities input_abilities_'+val.name)
                            <div class="form-group col-2">
                                <div class="d-flex flex-column">
                                    h5(class='input-name', for='input')= val.name
                                </div>
                            </div>
                            <div class="form-group col-3">
                                <div class="d-flex flex-column">
                                    input(class='form-control form-control-sm input-value-1', id='inputAbilities1', type='number', value=val.value1)
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <div class="d-flex flex-column">
                                    input(class='form-control form-control-sm input-value-2', id='inputAbilities2', type='number', value=val.value2, disabled)
                                </div>
                            </div>
                            <div class="form-group col-3">
                                <div class="d-flex flex-column">
                                    input(class='form-control form-control-sm input-value-3', id='inputAbilities3', type='number', value=val.value3)
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <div class="d-flex flex-column">
                                    input(class='form-control form-control-sm input-value-4', id='inputAbilities4', type='number', value=val.value4, disabled)
                                </div>
                            </div>

                    </form>
                </div>
            </div>

            <div class="col-4">
                <h1 class="text-center">Umiejętności</h1>
                <div class="container">
                    <div class="row table_labels">
                        <div class="col col-3">Nazwa</div>
                        <div class="col col-2">Premia</div>
                        <div class="col col-2">Atrybut</div>
                        <div class="col col-1">Klasowa</div>
                        <div class="col col-2">Rangi</div>
                        <div class="col col-2">Inne</div>
                    </div>
                    <form class="form skills">

                    each val, index in skills

                        div(class='form-row input_skills')
                            <div class="form-group col-3">
                                <div class="d-flex flex-column">
                                    h5(class='input-name', for='input')= val.name
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <div class="d-flex flex-column">
                                    input(class='form-control form-control-sm input-value-1', id='inputValue1', type='number', value=val.value1, disabled)
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <div class="d-flex flex-column">
                                    input(class='form-control form-control-sm input-value-2 input-ability-'+val.ability, id='inputValue2', type='number', value=val.value2, disabled)
                                </div>
                            </div>
                            <div class="form-group col-1">
                                <div class="d-flex flex-column">
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                        <input class="form-check-input custom-checkbox" type="checkbox" value="" id="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <div class="d-flex flex-column">
                                    input(class='form-control form-control-sm input-value-3 inputSkillValue3_'+val.code, id='inputValue3', type='number', value=val.value3)
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <div class="d-flex flex-column">
                                    input(class='form-control form-control-sm input-value-4 inputSkillValue4_'+val.code, id='inputValue4', type='number', value=val.value4)
                                </div>
                            </div>
                    </form>
                </div>
            </div>

            <div class="col-5">
                <h1 class="text-center">Zdrowie</h1>
                <div class="container">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-2 offset-6">
                                <div class="d-flex flex-column">
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                        <input class="form-check-input custom-checkbox" type="checkbox" value="" id="">
                                        <label>Umierający</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <div class="d-flex flex-column">
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                        <input class="form-check-input custom-checkbox" type="checkbox" value="" id="">
                                        <label>Stabliny</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <div class="d-flex flex-column">
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                        <input class="form-check-input custom-checkbox" type="checkbox" value="" id="">
                                        <label>Nieprzytomny</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-2">
                                <div class="d-flex flex-column">
                                    <input type="text" class="form-control form-control-sm" id="inputHPSum" value="168" disabled>
                                    <label for="inputAddress">Punkty wytrzymałości</label>
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <div class="d-flex flex-column">
                                    <input type="text" class="form-control form-control-sm" id="inputHPActual" value="104" disabled>
                                    <label for="inputAddress">Bieżące punkty wytrzymałości</label>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <div class="d-flex flex-column">
                                    <input type="text" class="form-control form-control-sm" id="inputHPDataWounds" value="12, 32, 12">
                                    <label for="inputAddress">Obrażenia</label>
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <div class="d-flex flex-column">
                                    <input type="text" class="form-control form-control-sm" id="inputHPDataNonLethal" value="8">
                                    <label for="inputAddress">Stłuczenia</label>
                                </div>
                            </div>    
                        </div> 
                    </form> 
                </div>
                <h1 class="text-center">Inicjatywa</h1>
                <div class="container">
                    <form>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <div class="d-flex flex-column">
                                <input type="text" class="form-control form-control-sm" id="inputInitiativeSum" value="12" disabled>
                                <label for="inputAddress">Inicjatywa</label>
                            </div>
                        </div> 
                        <div class="form-group col-3">
                            <div class="d-flex flex-column">
                                <input type="text" class="form-control form-control-sm" id="inputInitiativeBonus" value="4" disabled>
                                <label for="inputAddress">Premia ze zręczności</label>
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <div class="d-flex flex-column">
                                <input type="text" class="form-control form-control-sm" id="inputInitiativePerks" value="4">
                                <label for="inputAddress">Atuty</label>
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <div class="d-flex flex-column">
                                <input type="text" class="form-control form-control-sm" id="inputInitiativeOther" value="0">
                                <label for="inputAddress">Inne</label>
                            </div>
                        </div>  
                    </form>
                </div>
                    <div class="row">
                        <div class="col-6">
                            <h1 class="text-center">Szybkość</h1>
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <div class="d-flex flex-column">
                                                <input type="text" class="form-control form-control-sm" id="inputSpeedNative" value="9" disabled>
                                                <label for="inputAddress">Szybkość</label>
                                            </div>
                                        </div> 
                                        <div class="form-group col-6">
                                            <div class="d-flex flex-column">
                                                <input type="text" class="form-control form-control-sm" id="inputSpeedArmour" value="6">
                                                <label for="inputAddress">Prędkość w zbroi</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                        <div class="col-6">
                            <h1 class="text-center">Premie do ataku</h1>
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <div class="d-flex flex-column">
                                                <input type="text" class="form-control form-control-sm" id="inputSpeedNative" value="8">
                                                <label for="inputAddress">Bazowa premia do ataku</label>
                                            </div>
                                        </div> 
                                        <div class="form-group col-6">
                                            <div class="d-flex flex-column">
                                                <input type="text" class="form-control form-control-sm" id="inputSpeedTemporary" value="12">
                                                <label for="inputAddress">Atak zasięgowy</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    </div>
            </div>
                

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/index.js"></script>
